#!/opt/homebrew/bin/bash

source $HOME/.bash_profile
trash $HOME/.local/share/blesh
make -C $HOME/.files/ble.sh install PREFIX=~/.local


{{ if eq .chezmoi.os "darwin" }}
## Brew

export HOMEBREW_CLEANUP_MAX_AGE_DAYS=30
brew update && brew upgrade && brew cleanup -s
{{ end }}

## ASDF
asdf update
asdf plugin update --all

## Rust
rustup update
cargo install-update -a

## gofish
gofish update && gofish upgrade

## basher


## Source (last)
. $HOME/.bash_profile
