#!/bin/zsh

# if macos
{{ if (and (eq .chezmoi.os "debian") (ne lookPath "gcc")) }} echo true {{ else }} echo false {{ end }}
{{ if (and (eq .chezmoi.os "debian") (ne .email "me@home.org")) }}...{{ end }}

  ## install xcode tools
  ## install brew

# if m1
{{ if (and (eq .chezmoi.os "debian") (eq .chezmoi.arch "arm64")) }}
/usr/sbin/softwareupdate --install-rosetta --agree-to-license
{{ end }}

# linux || macos
## install zimfw
if [[ ! -d ~/.zim ]]; then
    curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
fi

## install rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
