#!/bin/bash

# if macos
{{ if eq .chezmoi.os "darwin" }}
## install xcode tools
if [[ ! -e /usr/bin/gcc ]]; then
  xcode-select --install
  read -p "Press Enter to continue" </dev/tty
fi

## install brew
if [[ ! -e /opt/homebrew/bin/brew ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}

# if m1
{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
if [ ! $(/usr/bin/pgrep oahd >/dev/null 2>&1;echo $?) -eq 0 ]; then
  /usr/sbin/softwareupdate --install-rosetta --agree-to-license
fi
{{ end }}

## install rust
if [[ ! -d ~/.cargo ]]; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

## install gofish
if [[ ! -d /usr/local/gofish ]]; then
  curl -fsSL https://raw.githubusercontent.com/fishworks/gofish/main/scripts/install.sh | bash
fi

## install asdf
if [[ ! -d $HOME/.asdf ]]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
fi
