#!/opt/homebrew/bin/zsh

export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:$PATH 
{{ if eq .chezmoi.os "darwin" }}
## Brew
export HOMEBREW_CLEANUP_MAX_AGE_DAYS=30
brew update && brew upgrade && brew cleanup -s
{{ end }}

## ASDF
asdf update
asdf plugin update --all

## Rust
rustup update
cargo install-update -a

## gofish
gofish update && gofish upgrade

## basher


## Source (last)
zimfw upgrade && zimfw update
zimfw build && zimfw clean
zimfw list && zimfw info

