#!/bin/zsh

# if macos
  ## install xcode tools
  ## install brew

  # if m1
  ## install rosetta

# linux || macos
## install zimfw
curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
