#!/bin/zsh

# if macos
  ## install xcode tools
  ## install brew

# if m1
{{ if (and (eq .chezmoi.os "debian") (eq .chezmoi.arch "arm64")) }}
/usr/sbin/softwareupdate --install-rosetta --agree-to-license
{{ end }}

# linux || macos
## install zimfw
curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
