#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:$PATH

## brew bundle
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bash"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "exa"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "homebrew/cask-drivers/zsa-wally"
brew "koekeishiya/formulae/yabai"
brew "lima"
brew "neovim"
brew "p7zip"
brew "qemu"
brew "sd"
brew "starship"
brew "trash"
brew "trash"
brew "wget"
brew "zsh"


# cask "espanso/espanso"
# cask "visual-studio-code"
cask "1password"
cask "alfred"
cask "appcleaner"
cask "brave-browser"
cask "discord"
cask "google-cloud-sdk"
cask "homebrew/cask-fonts/font-fira-mono-nerd-font"
cask "homebrew/cask-fonts/font-jetbrains-mono-nerd-font"
cask "homebrew/cask-versions/firefox-developer-edition"
cask "homebrew/cask-versions/iterm2-nightly"
cask "obsidian"
cask "protonvpn"
cask "signal"
cask "slack"
cask "spotify"
cask "steam"
cask "sublime-merge"
cask "sublime-text"
cask "tableplus"
cask "telegram"
cask "zoom"
cask "zsa-wally"

EOF

## Shells
if ! grep -q /opt/homebrew/bin/bash "/etc/shells"; then
  echo /opt/homebrew/bin/bash | sudo tee -a /etc/shells
fi

if ! grep -q /usr/local/bin/bash "/etc/shells"; then
  echo /usr/local/bin/bash | sudo tee -a /etc/shells
fi

if ! grep -q /opt/homebrew/bin/zsh "/etc/shells"; then
  echo /opt/homebrew/bin/zsh | sudo tee -a /etc/shells
fi

if ! grep -q /usr/local/bin/zsh "/etc/shells"; then
  echo /usr/local/bin/zsh | sudo tee -a /etc/shells
fi
{{ end }}

## bash
{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
if [[ $SHELL != /opt/homebrew/bin/zsh ]]; then
  chsh -s /opt/homebrew/bin/zsh {{ .chezmoi.username }}
fi
{{ else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64"))}}
if [[ $SHELL != /usr/local/bin/zsh ]]; then
  chsh -s /usr/local/bin/zsh {{ .chezmoi.username }}
fi
{{ else }}
if [[ $SHELL != /bin/bash ]]; then
  chsh -s /bin/bash {{ .chezmoi.username }}
fi
{{ end }}

# OS Agnostic
## basher

## GoFish
fishes=(go helm)
for i in "${fishes[@]}"; do
	if [[ ! -d /usr/local/gofish/Barrel/$i ]]; then
		gofish install $i
	fi
done

## ASDF
source $HOME/.asdf/asdf.sh

### Pythons
asdf plugin add python
asdf install python latest

### Terraforms
asdf plugin add terraform https://github.com/asdf-community/asdf-hashicorp.git
asdf install terraform latest

### Nodes
nodes=(lts latest)
asdf plugin add nodejs
for i in ${nodes[@]}; do
	asdf install nodejs $i
done

## Java
javas=(adoptopenjdk-17.0.2+8 adoptopenjdk-jre-17.0.2+8 liberica-8u322+6 liberica-jre-8u322+6)
asdf plugin add java
for i in "${javas[@]}"; do
	asdf install java $i
done

## Rust

export PATH=$HOME/.cargo/bin:$PATH
crates=(wrangler cargo-update bottom)
for i in "${crates[@]}"; do
	if [[ ! -d $i* ]]; then
		cargo install $i
	fi
done
