#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:$PATH

## brew bundle
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "sd"
brew "bash"
brew "zsh"
brew "coreutils"

brew "gpg"
brew "gawk"
EOF
{{ end }}

# OS Agnostic
## ASDF
source $HOME/.asdf/asdf.sh

### Pythons
asdf plugin add python
asdf install python latest
asdf global python latest

### Rubies

### Nodes
asdf plugin add nodejs
asdf install nodejs latest
asdf global nodejs latest

## Rust
export PATH=$HOME/.cargo/bin:$PATH
cargo install wrangler xsv cargo-update bottom
